* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  position: relative;
}

:root {
  --main-color: #ff305b;
  --white-color: #fff;
  --white-transparent: rgba(0, 0, 0, 0.6);
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

/* 
============================================================
                      Start Global CSS Role
============================================================
*/

/* Clear-Fix */
header nav .container::after,
header nav .nav-links::after,
section.about .container::after,
.about .container .info ul::after,
.our-services .container .our-services-info::after,
.our-portfolio .container .portfolio-info .gallery::after,
.our-portfolio .container .portfolio-info::after,
.counter .container::after,
.feedback .container .card .card-content::after,
.blog .container::after {
  content: "";
  display: block;
  clear: both;
}

/* Align Containers */
.about .container,
.our-services .container,
.counter .container,
.feedback .container,
.blog .container,
.contact-us .container,
footer .container {
  width: 75%;
  margin: auto;
  padding: 4% 0;
}

.our-services .container,
.our-portfolio .container {
  width: 70%;
  margin: auto;
  padding: 4% 0;
}

/* Three Lines Under Sections Title */
.our-services .container .our-services-title h2,
.our-portfolio .container .our-portfolio-title h2,
.blog .container .blog-title h2,
.contact-us .container .contact-us-title h2,
.feedback .container .our-services-title h2 {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.our-services .container .our-services-title h2::after,
.our-portfolio .container .our-portfolio-title h2::after,
.blog .container .blog-title h2::after,
.contact-us .container .contact-us-title h2::after,
.feedback .container .our-services-title h2::after {
  content: "";
  position: absolute;
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  border-top: 1px solid var(--main-color);
}

.our-services .container .our-services-title h2::before,
.our-portfolio .container .our-portfolio-title h2::before,
.blog .container .blog-title h2::before,
.contact-us .container .contact-us-title h2::before,
.feedback .container .our-services-title h2::before {
  content: "";
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 90px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
/* Three Lines Under Sections Title */

/* Reset For a & ul Tags */
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* 
============================================================
                      End Global CSS Role
============================================================
*/

/* 
============================================================
                      Start Header - NavBar
============================================================
*/

header {
  height: 100vh;
  background: url(../images/header.jpeg) no-repeat center;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: overlay;
  background-size: cover;
  position: relative;
}

header nav {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

header nav .container {
  width: 70%;
  margin: auto;
}

header nav .container .logo {
  float: left;
  padding: 1% 0;
}

header nav .container .logo a {
  color: #ff305b;
  font-size: 24px;
  font-weight: 800;
}

header nav .container :where(input, label) {
  display: none;
}

header nav .container .nav-links {
  float: right;
}

header nav .container .nav-links li {
  padding: 15px 10px;
  float: left;
}

header nav .container .nav-links li:first-child a {
  color: #ff305b;
}

header nav .container .nav-links li a {
  color: var(--white-color);
  font-size: 16px;
  /* font-weight: 400; */
  letter-spacing: 0.5px;
  padding: 30px 0;
  transition: color 0.5s;
}

header nav .container .nav-links li:hover a {
  color: #ff305b;
}

header .header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 15px;
}

header .header-content .content span {
  font-family: "Source Code Pro", monospace;
  color: var(--white-color);
  font-size: 24px;
}

header .header-content .content h1 {
  font-family: "Source Code Pro", monospace;
  color: var(--main-color);
  font-size: 70px;
  text-transform: uppercase;
}

/* Start Animation */

header .header-content .animated p {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  color: var(--white-color);
  text-align: center;
  /* width: 72%; */
}

.typewriter {
  position: relative;
}

.typewriter::after {
  content: "";
  position: absolute;
}

.typewriter::before {
  content: "";
  /* position: absolute;
  left: 10px; */
  border-right: 1px solid var(--white-color);
  animation: blink 0.5s infinite, typing 6s infinite;
}

@keyframes blink {
  to {
    border-right-color: transparent;
  }
}

@keyframes typing {
  0%,
  54.54%,
  100% {
    content: "de";
  }
  3.03%,
  51.51% {
    content: "dev";
  }
  6.06%,
  48.48% {
    content: "deve";
  }
  9.09%,
  45.45% {
    content: "devel";
  }
  12.12%,
  42.42% {
    content: "develo";
  }
  15.15%,
  39.39% {
    content: "develop";
  }
  18.18%,
  36.36% {
    content: "develope";
  }
  21.21%,
  24.24%,
  27.27%,
  30.3% {
    content: "developer";
  }
  57.57%,
  96.96% {
    content: "des";
  }
  60.6%,
  93.93% {
    content: "desi";
  }
  63.63%,
  90.9% {
    content: "desig";
  }
  66.66%,
  87.87% {
    content: "design";
  }
  69.69%,
  84.84% {
    content: "designe";
  }
  72.72%,
  75.75%,
  78.78%,
  81% {
    content: "designer";
  }
}

/* 
============================================================
                      End Header - NavBar
============================================================
*/

/* 
============================================================
                        Start About
============================================================
*/

.about .container {
  width: 70%;
}

.about .container .contain {
  padding: 0 5%;
}

.about .container .img-contain {
  float: left;
  width: 33%;
  border: 8px solid #000;
  border-radius: 8px;
  font-size: 0;
  position: relative;
  margin-left: 2%;
}

.about .container .img-contain img {
  border-radius: 8px;
  width: 100%;
}

.about .container .img-contain .img-overly {
  position: relative;
  transform: translate(7%, 4%);
  overflow: hidden;
}

.about .container .img-contain .img-overly:hover .overly {
  transform: translateY(0);
  opacity: 1;
}

.about .container .img-contain .img-overly .overly {
  position: absolute;
  inset: 0;
  z-index: 200;
  border-radius: 8px;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 4rem;
  opacity: 0;
  transition: transform 0.4s ease-in-out , opacity 0.5s ease-in-out;
}

.about .container .img-contain .img-overly .overly .social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about .container .img-contain .img-overly .overly .social a i {
  color: var(--white-color);
  font-size: 22px;
  transition: color 0.3s ease-in-out;
  /* background-color: blue; */
}

.about .container .img-contain .img-overly .overly a:hover i {
  color: var(--main-color);
}

.about .container .info {
  float: right;
  width: 55%;
  margin-right: 2%;
  /* background-color: blue; */
}

.about .container .info h2 {
  position: relative;
  font-size: 34px;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  margin-left: 10px;
}

.about .container .info h2::before {
  content: "";
  position: absolute;
  top: 20%;
  left: -2%;
  height: 60%;
  width: 4px;
  background-color: var(--main-color);
}

.about .container .info p {
  color: var(--white-transparent);
  font-size: 16px;
  padding: 8px 0 15px;
  border-bottom: 1px dashed rgb(153, 153, 153);
  line-height: 30px;
}

.about .container .info ul {
  padding: 15px 0;
}

.about .container .info ul li {
  float: left;
  width: 50%;
  font-size: 18px;
  line-height: 30px;
}

.about .container .info ul li:nth-child(odd) {
  display: block;
  width: 42%;
}

.about .container .info ul li > span {
  font-weight: 600;
}

.about .container .info ul li:last-child a {
  color: #000;
  text-decoration: underline;
}
.about .container .btn {
  padding-top: 25px;
}

.about .container .btn a {
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.about .container .btn a:hover {
  background-color: red;
}

/* 
============================================================
                        End About
============================================================
*/

/* 
============================================================
                    Start Our Services
============================================================
*/

.our-services {
  background-color: #f1f1f1;
  text-align: center;
}

.our-services .container {
  width: 70% !important;
}

.our-services .container .our-services-info .services {
  float: left;
  width: calc(100% / 4);
  padding: 2% 0;
  cursor: default;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.our-services .container .our-services-info .services:hover {
  box-shadow: 2px 0px 10px 2px #0002;
  background-color: var(--white-color);
}

.our-services .container .our-services-info .services i {
  color: var(--main-color);
  font-size: 30px;
  transition: transform 0.3s ease-in-out;
}

.our-services .container .our-services-info .services:hover i {
  transform: scale(1.3);
}

.our-services .container .our-services-info .services h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
}

.our-services .container .our-services-info .services p {
  color: var(--white-transparent);
  font-size: 18px;
  padding: 0 10px;
}

/* 
============================================================
                    End Our Services
============================================================
*/

/* 
============================================================
                    Start Portfolio
============================================================
*/
.our-portfolio .container .our-portfolio-title {
  text-align: center;
}

.our-portfolio .container .our-portfolio-title ul li {
  display: inline-block;
  padding: 10px 5px;
}

.our-portfolio .container .our-portfolio-title ul li a {
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
  color: var(--white-transparent);
}

.our-portfolio .container .our-portfolio-title ul li:first-child a {
  color: var(--main-color);
}

.our-portfolio .container .portfolio-info .gallery .item {
  float: left;
  width: calc(90% / 3);
  font-size: 0;
  margin: 15px;
  position: relative;
  overflow: hidden;
}

/* .popup {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.6);z-index: 101;
  
}

.popup i{
  color: var(--main-color);
  font-size: 24px;
  position: absolute;
  right: 5%;
  top: 5%;
}

.popup img {
  width: 30%;
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
} 

.our-portfolio .container .portfolio-info .gallery .item:checked .popup{
  display: block !important;
} */

.our-portfolio .container .portfolio-info .gallery .item a {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  transition: transform 0.5s;
}

.our-portfolio .container .portfolio-info .gallery .item a > i {
  color: var(--main-color);
  position: absolute;
  bottom: 4%;
  right: 4%;
  font-size: 24px;
}

.our-portfolio .container .portfolio-info .gallery .item:hover a {
  transform: translateY(0);
}

.our-portfolio .container .portfolio-info .gallery .item img {
  width: 100%;
}

/* 
============================================================
                      End Portfolio
============================================================
*/

/* 
============================================================
                      Start Counter
============================================================
*/

.counter {
  background-color: #f1f1f1;
  text-align: center;
}

.counter .container .item {
  float: left;
  width: calc(95% / 4);
  font-size: 22px;
}

.counter .container .item i {
  color: var(--main-color);
}

.counter .container .item span {
  display: block;
  padding: 15px;
}

.counter .container .item h5 {
  color: var(--white-transparent);
  color: #333;
  font-size: 18px !important;
}

/* 
============================================================
                    End Counter
============================================================
*/

/* 
============================================================
                    Start Feedback
============================================================
*/

.feedback .container {
  width: 50%;
}

.feedback .container .our-services-title h2 {
  text-align: center;
}

.feedback .container .card {
  background-color: #f1f1f1;
  padding: 5%;
  position: relative;
  overflow: hidden;
}

.feedback .container .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0px;
  transform: rotateZ(90deg);
  border-top: 180px solid transparent;
  border-left: 180px solid #ff305b;
}

.feedback .container .card .card-content {
  position: relative;
  z-index: 9;
}

.feedback .container .card .card-content .client-image {
  float: left;
  width: 15%;
  /* border: 5px solid var(--main-color); */
  border-radius: 50%;
  overflow: hidden;
}

.feedback .container .card .card-content .client-image img {
  width: 100%;
}

.feedback .container .card .card-content .client-info {
  float: left;
  width: 80%;
  padding-left: 25px;
}

.feedback .container .card .card-content .client-info h2 {
  color: #333;
  font-size: 24px;
  /* margin-bottom: 15px; */
}

.feedback .container .card .card-content .client-info .from {
  color: var(--white-transparent);
  margin: 10px 0;
}

.feedback .container .card .card-content .client-info p {
  font-style: italic;
  color: var(--white-transparent);
  font-size: 19px;
  margin-bottom: 10px;
}

.feedback .container .card .card-content .client-info .starts {
  color: #f1c30d;
}

/* 
============================================================
                        End Feedback
============================================================
*/

/* 
============================================================
                        Start Blog
============================================================
*/

.blog {
  background-color: #f1f1f1;
}
.blog .container .blog-title h2 {
  text-align: center;
}

.blog .container .blog {
  float: left;
  width: calc(95% / 3);
  background-color: var(--white-color);
  margin: 5px;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 8px;
}

.blog .container .blog .blog-img-contain {
  border-radius: 8px;
  overflow: hidden;
}

.blog .container .blog .blog-img-contain img {
  width: 100%;
}

.blog .container .blog .blog-img-contain h6 {
  font-size: 18px;
  color: var(--white-transparent);
  padding-top: 8px;
}

.blog .container .blog .blog-info h2 {
  padding: 8px 0;
  font-size: 19px !important;
}

.blog .container .blog .blog-info h2 a {
  color: #333;
  transition: color 0.3s ease-in-out;
}

.blog .container .blog .blog-info h2:hover a {
  color: var(--main-color);
}

.blog .container .blog .blog-info p {
  font-size: 21px;
  line-height: 25px;
  color: #333;
}

.blog .container .blog .blog-info h6 {
  padding: 10px 0;
  text-transform: uppercase;
  width: fit-content;
}

.blog .container .blog .blog-info h6:hover a {
  color: var(--main-color);
}

.blog .container .blog .blog-info h6 a {
  text-decoration: none;
  font-size: 17px;
  color: #333;
  transition: color 0.3s, text-decoration 0.3s;
}

.blog .container .blog .blog-info h6 a > i {
  font-size: 15px;
}

/* 
============================================================
                        End Blog
============================================================
*/

/* 
============================================================
                      Start Contact-US
============================================================
*/

.contact-us .container .contact-us-title {
  text-align: center;
}

.contact-us .container form {
  width: 75%;
  margin: auto;
}

.contact-us .container form input,
.contact-us .container textarea {
  display: block;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  font-size: 20px;
  outline: none;
  border: 1px solid #333;
  border-radius: 8px;
  color: var(--main-color);
  transform: translateX(0);
}

.contact-us .container form .name-email > input:first-child {
  float: left;
  width: calc(98% / 2);
}

.contact-us .container form .name-email > input:last-child {
  float: right;
  width: calc(98% / 2);
  text-transform: lowercase;
}

.contact-us .container form input:focus,
.contact-us .container textarea:focus {
  border: 1px solid var(--main-color);
}

.contact-us .container form ~ input:invalid {
  animation: demo 0.5s infinite;
}

@keyframes demo {
  25% {
    transform: translateX(-5%);
  }

  50% {
    transform: translateX(105%);
  }

  75% {
    transform: translateX(-5%);
  }
}

.contact-us .container textarea {
  resize: none;
}

.contact-us .container button {
  font-size: 18px;
  padding: 10px 8px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
}

.contact-us .container button a {
  color: var(--white-color);
  text-transform: capitalize;
}

/* 
============================================================
                      End Contact-US
============================================================
*/

/* 
============================================================
                      Start Footer-bottom
============================================================
*/

footer {
  background-color: #333;
}

footer .container {
  padding: 2%;
}

footer .container .footer-content {
  text-align: center;
}

footer .container .footer-content .social {
  padding-bottom: 20px;
}

footer .container .footer-content .social a {
  display: inline-block;
  width: 45px;
  height: 45px;
  font-size: 24px;
  padding-top: 8px;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 50%;
  transition: background-color 0.3s;
}

footer .container .footer-content .social a:hover {
  background-color: red;
}

footer .container .footer-content p {
  color: var(--white-color);
  font-size: 18px;
}

footer .container .footer-content p > a {
  color: var(--main-color);
}

footer .container .footer-content p > a:hover {
  text-decoration: underline;
}

/* 
============================================================
                      End Footer-bottom
============================================================
*/
